@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>Parabéns sua conta foi crada com sucesso! Clique <a href="..\User\Login">aqui </a>para efetuar login</h2>